* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  height: 100vh;
}

body .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.left-side {
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #e6f7fd;
  width: 95%;
  height: 95%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  display: flex;
  position: absolute;
  height: 40vw;
  width: 38vw;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dot img {
  display: flex;
  position: absolute;
  width: 80%;
  height: 70%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: black;
}

.input-side {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  height: 100%;
  width: 50%;
}

.input-side form {
  display: flex;
  width: 50%;
  height: 30%;
  flex-direction: column;
  justify-content: center;
}

form input {
  width: 200px;
  height: 50px;
  background-color: #fafafa;
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-top: 20px;
  border: 1px solid black;
  outline: none;
}

form img {
  width: 150px;
  height: 50px;
}


label {
  position: relative;
  height: 200px;
}

form span {
  position: absolute;
  top: 5px;
  left: 5px;
  transform: translateY(30px);
  font-size: 0.825em;
  transition-duration: 300ms;
  margin: none;
  padding: none;
  height: fit-content;
}

form span {
  color: black;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  color: #03aeee;
  transform: translateY(0.5px);
}

form button {
  background-color: #03aeee;
  color: #ffff;
  height: 50px;
}
